:root {
  --primary-color: rgba(47, 48, 58, 1);
  --text-paragraph: rgba(117, 117, 117, 1);
  --text-subtitle1: rgba(33, 33, 33, 1);
  --color-hover: rgba(33, 150, 243, 1);
  --boton-background: rgba(245, 244, 250, 1);
  --color-text: #ffffff;
  --color-text-foot: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

.effect-color {
  border: none;
  cursor: pointer;
  background-color: var(--color-hover);
  color: var(--color-text);
  height: 50px;
  width: 261px;
}

.effect-color:hover {
  color: var(--text-subtitle1);
  background-color: var(--color-hover);
  border: none;
}

.button-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  padding: 6px 24px;
  margin-bottom: 30px;
  height: 38px;
  font-size: 16px;
  margin-top: 50px;
}

.effect-color-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-hover);
  color: var(--primary-color);
  padding: 10px;
  font-size: 16px;

  color: black;
}
.effect-color-button:hover {
  border: none;
  border-radius: 5px;
  background-color: var(--text-paragraph);
}

.custom-items {
  color: var(--color-hover);
  text-decoration: none;
  cursor: pointer;
}

.custom-items:hover {
  color: var(--color-text);
  color: var(--text-subtitle1);
}

.custom-items:focus {
  color: var(--color-hover);
}

.custom-items-webstudio-footer {
  color: var(--color-hover);
  text-decoration: none;
  cursor: pointer;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.text-h3-caption {
  width: 270px;
  height: 16px;
  color: var(--text-subtitle1);
  font-weight: 700;
}

.text-h3-menu {
  text-align: center;
  color: var(--text-subtitle1);
  font-weight: 500;
  font-size: 16px;
}
.p-text {
  color: var(--text-paragraph);
  padding-left: 24px;
}
.p-text-name {
  padding-left: 24px;
}

.color-foot-font {
  color: var(--color-text-foot);
}

.header-link-selected {
  color: var(--text-subtitle1);
  text-decoration: none;
}

.header-link-selected:hover {
  color: var(--color-hover);
  text-decoration: none;
}

.section-banner {
  background-color: var(--primary-color);
  color: var(--color-text);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  font-size: 24px;
}

.section-background {
  background-color: var(--primary-color);
  font-style: normal;
  padding: 10px;
}

.navegator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 3.5em;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  gap: 8px;
}

.navegator-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
}

.border-target {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.target-portfolio {
  margin-bottom: 30px;
}

.border-container {
  border-bottom: 1px solid var(--boton-background);
}

.li-footer {
  padding-left: 10%;
}

h2 {
  text-align: center;
  margin: 10px;
}

.section-products {
  background: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  line-height: 19px;
}

.section-details {
  background: var(--color-text);
  display: flex;
  align-items: center;
  padding: 10px;
  line-height: 19px;
}

.section-background-members {
  background: #e5e5e5;
}

.section {
  display: flex;
  align-items: first baseline;
  padding: 20px;
  line-height: 19px;
  gap: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  background: white;
  justify-content: space-between;
  gap: 50px;
  /* width: 100%; */
}

.flex-container-position {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 50px; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 50px;
}

.team-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team-member {
  height: 428px;
  width: 270px;
  background: white;
}

.description-charges-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--text-subtitle1);
  margin-bottom: 10px;
}

.description-charges {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  color: --(--text-paragraph);
}

.team-member-info {
  display: flex;
  height: 168px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-member-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-member-icon-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon-container {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
}

.icon-container:hover {
  background: #2196f3;
}

.icon-container img {
  max-height: 20px;
  max-width: 20px;
}

.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer {
  padding: 60px 0px;
}

.section-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: --var(color-text-foot);
}

.networks-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  margin-left: 70px;
}
